<div class="row margin-0">
  <div [ngStyle]="{background: 'url(./../assets/images/back.jpg) no-repeat center'}" class="back-img col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">

    <div class="layer">
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 col-lg-offset-2 text-center height100">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 height100">
        <div class="box1">
          <div class="add">Address</div>
          <div class="addf">
            #26, First Floor, Sri Ram Temple Road, Gowda Muniswamy Garden
          </div>
          <div class="addf2">
            Ejipura, Bengaluru, Karnataka 560095
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 height100">
        <div class="box1">
            <div class="add">Email</div>
            <div class="addf">nitheeshsalian@gmail.com</div>
            <div class="phone">Phone</div>
            <div class="addf">+91 8197803551</div>
            
        </div>
      </div>
    </div>
  </div>
</div>
